/* 
SECTIONS: 
   GBLOBAL - general css styles
   HEADER - contains logo's, buttons, menus in the header
   NAVBAR - slideshow
   MAIN - contains four picture/text units
   FOOTER - footer



   #e498a7 rose color for text on pictures in main
   #f6b035 yellowish descargaGTatisText color
*/

/*______________________GLOBAL______________________*/

@font-face {
	font-family: Trajan;
	src: url(fonts/TrajanProRegular.ttf);
}

@font-face {
	font-family: Trashhand;
	src: url(fonts/TrashHand.ttf);
}

@font-face {
	font-family: BebasNeue;
	src: url(fonts/BebasNeue-Regular.ttf);
}

html {
	background: url(images/Fondo.png) no-repeat center center fixed;
	background-size: 120%; /*120% looks better on screens wider than 1920px*/
}

body {
	margin: 0;
}

/*main container centerd and not shrinkable less than 700px*/
.container {
	width: 60%;
	margin: 0 auto;
	min-width: 700px;
	position: relative;
}

/*______________________HEADER______________________*/

header {
	color: whitesmoke;
}

/*menu, social media buttons and professionals button on one line*/
.logos div:first-of-type {
	display: flex;
	justify-content: space-between;
}

/*logo with website name*/
.logos img:nth-of-type(1) {
	margin-top: 20px;
	margin-bottom: 10px;
}

/*logo underlay ornament*/
.logos img:nth-of-type(2) {
	margin-bottom: 20px;
}

/*logo and underlay ornament styles*/
.logos img {
	width: 55%;
	display: block;
}

/*social media buttons*/
#mediaBtn {
	height: 100%;
	width: 100%;
	margin: 0;
}

/*professionals button*/
.logos button {
	background-color: #e2e1e9;
	border: none;
	color: rgb(2, 2, 2);
	padding: 6px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

/*languages button styles start*/
.dropdown {
	position: absolute;
	right: 0px;
	top: -5px;
	z-index: 1;
	padding-top: 2px;
}

.dropdown-languages {
	display: none;
	position: absolute;
	background-color: #f3f3f3;
}

.dropdown-languages a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-languages a:hover {
	background-color: #cfcfcf;
}

.dropdown:hover .dropdown-languages {
	display: block;
}
/*languages button styles end*/

/*oblique banner*/
header > img {
	position: absolute;
	right: 80px;
	top: -5px;
	height: 60px;
}

/*island names styles*/
header div:nth-of-type(2) ul {
	padding: 0;
	margin: 0;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*island names separation, dot separator is defined in the HTML*/
header div:nth-of-type(2) li {
	display: inline;
	font-size: x-small;
}

/*menu under logo styles*/
.logos ul {
	list-style-type: none;
	padding: 2px;
	margin: 0;
	display: flex;
	justify-content: center;
	border-width: 2px 0;
	border-top: 1px solid whitesmoke;
	border-bottom: 1px solid whitesmoke;
}

/*menu under logo separation*/
.logos ul li {
	padding: 3px 5px;
	font-size: small;
	font-size: 1vw;
	padding: 0 10px;
}

/*______________________NAVBAR______________________*/

/*pictures are used with preapplied background styles and moved left and scaled to align with other items*/

/*slider general styles*/
nav {
	margin: 10px 0;
	position: relative;
	left: -4%;
}

#slider-left-button {
	position: absolute;
	left: 4%;
	top: 40%;
	background: url(images/Cursor1.png) no-repeat;
	padding: 40px 20px;
}

#slider-right-button {
	position: absolute;
	right: -4%;
	top: 40%;
	background: url(images/Cursor2.png) no-repeat;
	padding: 40px 20px;
}

/*width is increased horizontally to martch other items*/
.mySlides {
	display: none;
	width: 108%;
}

/*______________________MAIN______________________*/

main {
	margin-bottom: 20px;
}

/*TOP TWO BANNERS*/

.top-two-banners {
	display: flex;
	justify-content: space-between;
}

.top-two-banners img {
	width: 100%;
}

.top-left-banner,
.top-right-banner {
	position: relative;
	width: 50%;
}

.top-left-banner {
	margin: 0 10px 10px 0;
}

.top-right-banner {
	margin: 0 0 10px 10px;
}

.top-left-banner-text {
	position: absolute;
	bottom: 15px;
	right: 30px;
	padding: 0 20px;
	font-size: 1.5vw;
}

.top-left-banner-text h3 {
	margin: 5px 0px;
	font-family: Trajan;
	font-weight: lighter;
}

.top-left-banner-text p {
	font-family: Trashhand;
	margin: 0;
	color: #e498a7;
}

.top-right-banner-text {
	position: absolute;
	bottom: 25px;
	right: 30px;
	padding: 0 20px;
	font-size: 2vw;
}

.top-right-banner-text p {
	font-family: Trashhand;
	margin: 0;
}

/*top-right-banner-text part is colord*/
span {
	color: #e498a7;
}

/*RESPONSIVNESS MIN FONT SIZE*/
/*if viewport is less than 1000px, text on 1 will remain 15px, text on 2 20px*/
@media screen and (max-width: 1000px) {
	.top-left-banner-text {
		font-size: 15px;
	}
	.top-right-banner-text {
		font-size: 20px;
	}
}

/*if viewport is less than 1200px, menu text under logo/ornament remains 12px*/
@media screen and (max-width: 1200px) {
	#menu li {
		font-size: 12px;
	}
}

/*RESPONSIVNESS MAX FONT SIZE*/
/*if the viewport is more than 1550, text on 1 remains 25px, text on 2 31 px*/
@media screen and (min-width: 1550px) {
	.top-left-banner-text {
		font-size: 25px;
	}
	.top-right-banner-text {
		font-size: 31px;
	}
}

/*BOTTOM FOUR BANNERS*/

.bottom-four-banners {
	display: flex;
	justify-content: space-between;
}

.bottom-four-banners img {
	width: 100%;
}

.bottom-first-and-second-banners {
	display: flex;
	justify-content: flex-end;
	margin: 10px 10px 0 0;
	width: 50%;
}

.bottom-third-and-fourth-banners {
	display: flex;
	margin: 10px 0 0 10px;
	width: 50%;
}

.bottom-first-banner {
	margin-right: 10px;
	position: relative;
	text-align: left;
}

.bottom-first-banner p {
	position: absolute;
	bottom: -30px;
	left: 40%;
	transform: translate(-50%, -50%);
	font-family: BebasNeue;
	font-size: x-large;
	color: rgb(255, 8, 8);
}

.bottom-second-banner {
	position: relative;
	text-align: center;
	height: 100%;
}

.bottom-second-banner p {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: BebasNeue;
	font-size: xx-large;
	color: whitesmoke;
}

.bottom-third-banner {
	position: relative;
	text-align: left;
}

.bottom-third-banner p {
	position: absolute;
	top: 73%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-family: BebasNeue;
	font-size: x-large;
	color: #f6b035;
}

.bottom-fourth-banner {
	margin-left: 10px;
}

/*______________________FOOTER______________________*/

#footerImg {
	width: 100%;
}
