/* 
SECTIONS: 
   GBLOBAL - general css styles
   HEADER - contains logo's, buttons, menus in the header
   NAVBAR - slideshow
   MAIN - contains four picture/text elements
   FOOTER - footer info



   #e498a7 rose color for text on pictures in main
*/

/* * {
	border: 0.1px solid red;
} */

/*______________________GLOBAL______________________*/

/*using for text on pictures in main*/
@font-face {
	font-family: Trajan;
	src: url(fonts/TrajanProRegular.ttf);
}

/*using for text on pictures in main*/
@font-face {
	font-family: Trashhand;
	src: url(fonts/TrashHand.ttf);
}

html {
	background: url(images/Fondo.png) no-repeat center center fixed;
}

body {
	margin: 0;
}

.container {
	/*main container centerd and not shrinkable less than 700px*/
	width: 60%;
	margin: 0 auto;
	min-width: 700px;
}

/*______________________HEADER______________________*/

header {
	color: whitesmoke;
}

.siquiero {
	height: auto;
	padding: 0;
}

/*to displey menu, social media buttons and professionals button on one line*/
.headerDiv {
	display: flex;
	justify-content: space-between;
}

.container {
	position: relative;
}

.logos img {
	width: 55%;
	display: block;
}

.logoImg {
	margin-top: 20px;
}

.logoImgUnderline {
	margin-bottom: 10px;
}

/*social media buttons*/
.mediaBtn img {
	height: 100%;
	width: 100%;
}

/*professionals button*/
.professionals {
	background-color: #e2e1e9;
	border: none;
	color: rgb(2, 2, 2);
	padding: 6px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

/*languages button styles start*/
.dropdown {
	position: absolute;
	right: 0px;
	top: -5px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fcefef;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}
/*languages button styles end*/

/*oblique banner*/
#logoIslas {
	position: absolute;
	right: 80px;
	top: -5px;
	height: 60px;
}

/*island styles*/
#islas {
	padding: 0;
	margin: 5px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*to separate island names*/
#islas li {
	display: inline;
	font-size: x-small;
	padding: 0 5px;
}

/*menu under logo styles*/
#menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	border-width: 2px 0;
	border-top: 1px solid whitesmoke;
	border-bottom: 1px solid whitesmoke;
}

/*menu under logo separation*/
#menu li {
	padding: 3px 5px;
	font-size: small;
}

/*______________________NAVBAR______________________*/

nav {
	margin: 10px 0;
}

.mySlides {
	display: none;
	width: 100%;
}

/*______________________MAIN______________________*/

main {
	margin-bottom: 20px;
}

/*FIRST TWO ELEMENTS*/

.first-two-elements {
	display: flex;
	justify-content: space-evenly;
}

.first-two-elements img {
	width: 100%;
}

.one {
	margin: 0 10px 10px 0;
	position: relative;
}

.two {
	margin: 0 0 10px 10px;
	position: relative;
}

.text-block-one {
	position: absolute;
	bottom: 15px;
	right: 30px;
	padding: 0 20px;
	font-size: 1.5vw;
}

.text-block-two {
	position: absolute;
	bottom: 25px;
	right: 30px;
	padding: 0 20px;
	font-size: 2vw;
}

span{
   color: #e498a7;
}
/*text on images styles end*/

/*if viewport is less than 1000px, text on picture 1 will remain 15px*/
@media screen and (max-width: 1000px) {
	.text-block-one {
		font-size: 15px;
	}
}

/*if viewport is less than 1000px, text on picture 2 will remain 20px*/
@media screen and (max-width: 1000px) {
	.text-block-two {
		font-size: 20px;
	}
}

/*if the viewport is more than 1550, text on picture 1 remains 25px*/
@media screen and (min-width: 1550px) {
	.text-block-one {
		font-size: 25px;
	}
}

/*if the viewport is more than 1550, text on picture 2 remains 31px*/
@media screen and (min-width: 1550px) {
	.text-block-two {
		font-size: 31px;
	}
}

/*text on picture styles*/
.text-block-one h3 {
	margin: 5px 0px;
	font-family: Trajan;
	font-weight: lighter;
}

.text-block-one p {
	font-family: Trashhand;
	margin: 0;
	color: #e498a7;
}

.text-block-two p {
	font-family: Trashhand;
	margin: 0;
}

/*LAST FOUR ELEMENTS*/

.last-four-elements {
	display: flex;
	justify-content: space-evenly;
}

.three {
	display: flex;
	justify-content: space-between;
	margin: 10px 10px 0 0;
}

.four {
	display: flex;
	margin: 10px 0 0 10px;
}

.last-four-elements img {
	width: 100%;
}

.three-one {
	margin-right: 10px;
}

.four-two {
	margin-left: 10px;
}

/*______________________FOOTER______________________*/

#footerImg {
	width: 100%;
}
