/* 
SECTIONS: 
   GBLOBAL - general css styles
   HEADER - contains logo's, buttons, menus in the header
   NAVBAR - slideshow
   MAIN - contains six banners
   FOOTER - footer
*/

/*for testing purpose*/
* {
	border: 0.1px solid rgba(255, 0, 128, 0.01);
}

/*______________________GLOBAL______________________*/

@font-face {
	font-family: Trajan;
	src: url(fonts/TrajanProRegular.ttf);
}

@font-face {
	font-family: Trashhand;
	src: url(fonts/TrashHand.ttf);
}

@font-face {
	font-family: BebasNeue;
	src: url(fonts/BebasNeue-Regular.ttf);
}

@font-face {
	font-family: Gotham;
	src: url(fonts/GothamRounded.ttf);
}

html {
	background: url(images/Fondo.png) no-repeat center center fixed;
	background-size: 120%; /*120% looks better on screens wider than 1920px*/
}

/*fixing background picture for less than 900ps screens*/
@media screen and (max-width: 900px) {
	html {
		background-size: 1100px;
	}
}

body {
	margin: 0;
}

.container {
	width: 60%;
	margin: 0 auto;
	position: relative;
}

/*______________________HEADER______________________*/

.islandNames-obliqueBanner-Languages {
	display: flex;
	justify-content: space-between;
	overflow: visible;
}

.islandNames {
	margin: 0;
	padding: 0;
	font-family: Gotham;
}

.islandNames li {
	display: inline;
	font-size: 0.7vw;
	color: white;
	font-weight: lighter;
}

.obliqueBanner {
	height: 0;
}

.obliqueBanner img {
	width: 14.2vw;
}

.LanguagesBtn {
	width: 5vw;
	padding: 0;
	font-size: 0.9vw;
}

.websiteName-Logo,
.websiteName-Logo-Ornament {
	width: 31.8vw;
	color: white;
}

.websiteName-Logo {
	padding-top: 1.8vw;
}

.websiteName-Logo-Ornament {
	padding-bottom: 1vw;
}

.Menu-SocialMedia-ProfessionalsBtn {
	display: flex;
	justify-content: space-between;
	height: 1.5vw;
}

.menu {
	margin: 0;
	padding: 0;
	color: white;
	width: 31.8vw;
	display: flex;
	justify-content: space-around;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-top: 0.1vw solid white;
	border-bottom: 0.1vw solid white;
}

.menu li {
	display: inline;
	font-size: 0.9vw;
	text-align: center;
}

.socialMediaBtn {
	height: 100%;
}

.ProfessionalsBtn {
	width: 20.6vw;
	font-size: 0.9vw;
	height: 100%;
}

/*______________________NAVBAR______________________*/

/*pictures are used with preapplied background ornaments and moved and scaled to align with other items*/

/*slider general styles*/
nav {
	margin: 10px 0;
}

.mySlides {
	float: left;
	display: none;
	width: 100%;
}

#slider-decor-front {
	width: 100%;
	position: absolute;
	bottom: 57%;
	left: 0%;
	z-index: 100;
}

#slider-decor-back {
	width: 110%;
	position: absolute;
	z-index: -100;
	left: -5%;
}

#slider-left-button {
	position: absolute;
	top: 22vw;
	left: 0%;
	background: url(images/Cursor1.png) no-repeat;
	background-size: 2vw;
	padding: 3vw 1.5vw;
	z-index: 200;
}

#slider-right-button {
	position: absolute;
	top: 22vw;
	right: 0;
	background: url(images/Cursor2.png) no-repeat;
	background-size: 2vw;
	padding: 3vw 1.5vw;
	z-index: 200;
}

/*_______________________MAIN_______________________*/

main {
	margin-bottom: 20px;
}

/*TOP TWO BANNERS*/

.top-two-banners {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.top-two-banners img {
	width: 100%;
}

.top-left-banner,
.top-right-banner {
	position: relative;
	width: 50%;
}

.top-left-banner {
	margin: 0 10px 10px 0;
}

.top-right-banner {
	margin: 0 0 10px 10px;
}

.top-left-banner-text {
	position: absolute;
	bottom: 1vw;
	right: 2vw;
	font-size: 1.5vw;
}

.top-left-banner-text h3 {
	margin: 5px 0px;
	font-family: Trajan;
	font-weight: lighter;
}

.top-left-banner-text p {
	font-family: Trashhand;
	margin: 0;
	color: #e498a7;
}

.top-right-banner-text {
	position: absolute;
	bottom: 2vw;
	right: 1.4vw;
}

.top-right-banner-text p {
	font-family: Trashhand;
	margin: 0;
	font-size: 2.3vw;
}

/*top-right-banner-text part is colord*/
span {
	color: #e498a7;
}

/*BOTTOM FOUR BANNERS*/

.bottom-four-banners {
	display: flex;
	justify-content: space-between;
}

.bottom-four-banners img {
	width: 100%;
}

.bottom-first-and-second-banners {
	display: flex;
	justify-content: flex-end;
	margin: 10px 10px 0 0;
	width: 50%;
}

.bottom-third-and-fourth-banners {
	display: flex;
	margin: 10px 0 0 10px;
	width: 50%;
}

.bottom-first-banner {
	margin-right: 10px;
	text-align: left;
	position: relative;
}

.bottom-first-banner-text {
	position: absolute;
	bottom: 1vw;
	left: 1vw;
}

.bottom-first-banner-text p {
	font-family: BebasNeue;
	font-size: 2.2vw;
	color: #808080;
	margin: 0;
}

/*fixed font size above 1600px screen to align with banner size */
@media screen and (min-width: 1600px) {
	.bottom-first-banner-text p {
		font-size: 35px;
	}
	.bottom-third-banner-text p {
		font-size: 29px;
	}
}

.bottom-second-banner {
	position: relative;
	text-align: center;
	height: 100%;
}

.bottom-second-banner p {
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: BebasNeue;
	font-size: 2.5vw;
	color: whitesmoke;
}

.bottom-third-banner {
	position: relative;
	text-align: left;
}

.bottom-third-banner-text {
	position: absolute;
	bottom: 5vw;
	left: 7vw;
}

.bottom-third-banner-text p {
	position: absolute;
	transform: translate(-50%, -50%);
	font-family: BebasNeue;
	font-size: 1.8vw;
	color: #f6b035;
}

.bottom-fourth-banner {
	margin-left: 10px;
}

/*______________________FOOTER______________________*/

#footerImg {
	width: 100%;
}
